.section {
  clear: both;
}

.reference.internal em {
  font-style: normal;
}

.codeblock,
pre.literal-block,
.rst-content .literal-block,
.rst-content pre.literal-block,
div[class^='highlight'] {
  border: none;
  border-left: 1px solid #f1f1f1;
}

strong {
  font-size: 90%;
}

code,
.rst-content tt {
  border: none;
}

hr {
  border-top: 1px solid #f1f1f1;
}

.wy-breadcrumbs,
.wy-breadcrumbs + hr,
.wy-breadcrumbs li.wy-breadcrumbs-aside {
  display: none;
}

.wy-nav-top i {
  padding: 10px 0;
}

footer {
  font-size: 70%;
  text-align: center;
}
footer .rst-footer-buttons {
  text-align: left;
}

.admonition p {
  font-size: 90%;
  line-height: 1.5em;
}
.admonition .admonition-title {
  background: none !important;
  color: #9E9D9D !important;
  text-transform: uppercase;
  padding: 10px;
  font-size: 70%;
}
.admonition .admonition-title:before {
  content: normal;
}

@media (min-width: 1100px) {
  .admonition.inline {
    float: right;
    margin-right: -50px;
    margin-left: 20px;
    width: 40%;
  }
}

/**
 * ReactForms styling
 */

.button,
.rf-RepeatingFieldset__add {
  border-radius: 2px;
  line-height: normal;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  font-size: 80%;
  padding: 4px 10px;
  color: #404040 !important;
  border: 1px solid rgba(0,0,0,0.1);
  background-color: #f3f6f6 !important;
  text-decoration: none;
  font-weight: normal;
  box-shadow: 0px 1px 2px -1px rgba(255, 255, 255, .5) inset, 0px -2px 0px 0px rgba(0,0,0,.1) inset;
  outline-none: false;
  vertical-align: middle;
  *display: inline;
  zoom: 1;
  -webkit-user-drag: none;
}

.button[disabled] {
  cursor: default;
  color: #aaa;
  background: white;
  box-shadow: none;
}

.rf-RepeatingFieldset__remove {
  color: #404040 !important;
  border: none;
  background: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
}
.rf-RepeatingFieldset__item {
  position: relative;
}

.rf-Form,
.rf-Fieldset,
.rf-RepeatingFieldset {
  margin-bottom: 1.5em;
}

.rf-Field {
  margin-bottom: 1em;
}
.rf-Field--invalid {
  color: red;
}
.rf-Field input[type="text"] {
  width: 100%;
}

.rf-Message {
  display: block;
  font-size: 80%;
  padding: 5px;
}

.rf-Label {
  font-weight: bold;
}

.rf-RepeatingFieldset__label,
.rf-Fieldset__label {
  font-size: 120%;
  margin-bottom: 1em;
}

.rf-Hint {
  display: block;
  font-weight: normal;
  font-size: 80%;
}

.rf-RadioButtonGroup {
  padding: 10px;
}

.rf-RadioButtonGroup__button {
  padding: 5px;
}

@media (min-width: 900px) {
  .rf-Field input[type="text"] {
    width: 80%;
  }
  
  .rf-Demo__form {
    width: 50%;
    display: inline-block;
  }

  .rf-Demo__label {
    font-size: 80%;
    color: #888;
  }

  .rf-Demo__inspector {
    width: 50%;
    display: inline-block;
    float: right;
  }

  .rf-Demo__value {
    font-family: Menlo, Monaco, monospace;
    font-size: 70%;
    color: #888;
  }
}
